.sidebar::-webkit-scrollbar {
    width: 10px;
}
.sidebar::-webkit-scrollbar-track {
    width: 10px;
    background: #fff;
}
.sidebar::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 8px;
    background: #000;
}
body {
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    float: left;
    width: 100%;
    height: 100%;
    margin-left: -100%;
    background: #2c3e50;
    overflow: hidden;
    transition: .8s all;
    overflow: auto;
  }
  
  .side {
    margin-left: 0;
  }
  
  .sidebar ul {
    margin: 0;
    padding: 0;
  }
  
  .sidebar ul li {
    list-style: none;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 17px;
    line-height: 80px;
    text-align: center;
    display: block;
    transition: .6s all;
  }
  
  .sidebar ul li a:hover {
    background: #34495e;
  }
  
  .btn {
    width: 40px;
    margin-top: 10px;
    float: left;
    padding: 0 10px;
    font-size: 40px;
    /* text-decoration: none; */
    /* color: #2c3e50; */
    /* font-family: Ionicons; */
    cursor: pointer;
    position: fixed;
  }
  
  .btn:before {
    content: '\f32a';
  }
  
  .btn:before {
    content: '\f2c0';
  }
  
  .containerr {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
        display: block;
        font-size: 40px;
        color: white;
        padding: 14px 40px;
        background: rgb(236, 0, 0);
   }